// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.is-invalid{
  color: #dc3545;
  font-size: .875em;
}
.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.bg-gray{
  background-color: #eee;
}
.indicator{
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 25%;
}
.total{
  border: none;
  width: 25%;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}